export(performWhiteTest)
export(performWhiteTestStreaming)
export(performWhiteTestRobust)
export(performBPTest)
export(performBPTestStreaming)
export(performBreuschPaganTest)
export(performBPTestRobust)
export(performGQTest)
export(performKoenkerTest)
export(performKoenkerTestStreaming)
export(performParkTest)
export(performStudentizedBPTest)
export(performWhiteTestBootstrap)
export(performSzroeterTest)
export(performWildBootstrapTest)
export(performHCCovarianceTest)
export(performQuantileRegressionTest)
export(performRankPermutationTest)
export(performHighDimensionalTest)
export(performSpatialHeteroTest)
export(performSpearmanTest)
export(performLeveneTest)
export(performGlejserTest)
export(performBrownForsytheTest)
export(performFlignerKilleenTest)
export(performBartlettTest)
export(performHarveyTest)
export(performArchLMTest)
export(performMcLeodLiTest)
export(performHartleyFmaxTest)
export(performCameronTrivediTest)
export(performOrderedLMTest)
export(rbootstrap_test_statistic)
importFrom(stats,anova,coef,formula,lm,model.matrix,pchisq,pf,residuals,fitted,pt,cor,bartlett.test,fligner.test,median,rnorm,runif)
importFrom(MASS,rlm,boxcox)
importFrom(stats,Box.test)
importFrom(stats,as.formula,df.residual,var)
importFrom(R6,R6Class)
export(performOBrienTest)
export(performModifiedBartlettTest)
export(performCookWeisbergTest)
export(performNCVTest)
export(performSpreadLevelTest)
export(performScatterDiagnostic)
export(performPesaranTest)
export(performBPRandomEffectsTest)
export(performDavidianCarrollTest)
export(performRiceTest)
export(performCurryWalshTest)
importFrom(stats,pnorm,dist)
export(runHeteroTests)
export(simulate_hetero)
export(sigma_linear)
export(sigma_exponential)
export(sigma_group)
export(sigma_piecewise)
export(sigma_poly)
export(sigma_sin)
export(sigma_multiplicative)
export(simulate_arch1)
export(sigma_spatial)
export(sigma_logistic)
export(sigma_inverse)
export(sigma_power)
export(sigma_step)
export(sigma_u_shape)
export(sigma_exp_decay)
export(sigma_gaussian_peak)
export(sigma_piecewise_linear)
export(plotResidualsFitted)
export(plotSpreadLevel)
export(plotResidualDensity)
export(plotResidualQQ)
export(plotBubbleVariance)
export(plotDiagnosticSuite)
export(plotBeforeAfter)
export(performVIFDiagnostic)
export(performRESETTest)
export(performInfluenceDiagnostics)
export(runDiagnostics)
export(runDiagnosticPlots)
export(registerDiagnostic)
export(registerPlot)
export(fitWLS)
export(fitRobust)
export(autoTransform)
export(performBoxMTest)
export(HeteroDiagnostic)
export(test)
S3method(test, HeteroDiagnostic)
S3method(plot, HeteroDiagnostic)
S3method(summary, HeteroDiagnostic)
export(analyzeMLResiduals)
export(compareModelDiagnostics)
export(compareTestResults)
export(runMultivariateTests)

export(runTimeSeriesTests)
export(runPanelTests)
export(run_benchmark_suite)
export(downloadTeachingData)
export(TestFactory)
export(test_factory)
export(suggestRemediation)
export(analyseDatasetCharacteristics)
export(suggestDiagnosticsForProfile)
export(interpretHeteroTestResults)
export(recommendRemediationStrategies)
export(warnDiagnosticAssumptions)
export(buildDiagnosticDecisionTree)
export(composeDiagnosticNarrative)
export(generateHeteroRecommendations)
export(plotResidualsFittedEnhanced)
export(plotDiagnosticSuiteEnhanced)
export(runHeteroTestsParallel)
export(cachedTest)
export(clearTestCache)
export(clearAnalysisCache)
export(generateDiagnosticReport)
export(generate_benchmark_report)
export(simulate_type_I_errors)
export(simulate_power_analysis)
S3method(plot, power_analysis)
export(launchDiagnosticDashboard)
export(autoCompareRemediations)
export(ht_clear_log_history)
export(ht_enable_log_capture)
export(ht_log_history)
export(ht_set_log_level)
export(checkModel)
export(rcalculateEffectSize)
export(restimate_test_power)
export(rrunAdvancedDiagnostics)
export(rvalidate_against_reference)
export(validateTestInputs)
export(checkModelEnhanced)
export(std_error)
export(std_warning)
export(checkData)
export(theme_hetero)
export(scale_colour_hetero_diagnostic)
export(scale_fill_hetero_diagnostic)
export(runSurveyHeteroTests)
S3method(tidy, hetero_test)
S3method(glance, hetero_test)
S3method(augment, hetero_test)
S3method(tidy, hetero_test_suite)
S3method(glance, hetero_test_suite)
S3method(augment, hetero_test_suite)
S3method(tidy, hetero_grouped_suite)
S3method(autoplot, hetero_test_suite)
S3method(autoplot, hetero_grouped_suite)
S3method(print, hetero_recommendation_report)
importFrom(generics, tidy)
importFrom(generics, glance)
importFrom(generics, augment)
importFrom(ggplot2, autoplot)
importFrom(ggplot2, aes)
importFrom(ggplot2, geom_col)
importFrom(ggplot2, geom_hline)
importFrom(ggplot2, facet_wrap)
importFrom(ggplot2, labs)
importFrom(ggplot2, scale_y_continuous)
importFrom(ggplot2, theme_minimal)
importFrom(ggplot2, element_line)
importFrom(ggplot2, element_text)
importFrom(ggplot2, element_rect)
importFrom(ggplot2, theme)
importFrom(ggplot2, scale_fill_manual)
importFrom(scales, percent_format)
importFrom(scales, squish)
