export(performWhiteTest)
export(performWhiteTestStreaming)
export(performBPTest)
export(performGQTest)
export(performKoenkerTest)
export(performParkTest)
export(performStudentizedBPTest)
export(performWhiteTestBootstrap)
export(performSzroeterTest)
export(performSpearmanTest)
export(performLeveneTest)
export(performGlejserTest)
export(performBrownForsytheTest)
export(performFlignerKilleenTest)
export(performBartlettTest)
export(performHarveyTest)
export(performArchLMTest)
export(performMcLeodLiTest)
export(performHartleyFmaxTest)
export(performCameronTrivediTest)
export(performOrderedLMTest)
importFrom(stats,anova,coef,formula,lm,model.matrix,pchisq,pf,residuals,fitted,pt,cor,bartlett.test,fligner.test,median,rnorm,runif)
importFrom(MASS,rlm,boxcox)
importFrom(stats,Box.test)
importFrom(stats,as.formula,df.residual,var)
importFrom(R6,R6Class)
export(performOBrienTest)
export(performModifiedBartlettTest)
export(performCookWeisbergTest)
export(performNCVTest)
export(performSpreadLevelTest)
export(performScatterDiagnostic)
export(performPesaranTest)
export(performBPRandomEffectsTest)
export(performDavidianCarrollTest)
export(performRiceTest)
export(performCurryWalshTest)
importFrom(stats,pnorm,dist)
export(runHeteroTests)
export(simulate_hetero)
export(sigma_linear)
export(sigma_exponential)
export(sigma_group)
export(sigma_piecewise)
export(sigma_poly)
export(sigma_sin)
export(sigma_multiplicative)
export(simulate_arch1)
export(sigma_spatial)
export(sigma_logistic)
export(sigma_inverse)
export(sigma_power)
export(sigma_step)
export(sigma_u_shape)
export(sigma_exp_decay)
export(sigma_gaussian_peak)
export(sigma_piecewise_linear)
export(plotResidualsFitted)
export(plotSpreadLevel)
export(plotResidualDensity)
export(plotResidualQQ)
export(plotBubbleVariance)
export(plotDiagnosticSuite)
export(plotBeforeAfter)
export(performVIFDiagnostic)
export(performRESETTest)
export(performInfluenceDiagnostics)
export(runDiagnostics)
export(runDiagnosticPlots)
export(registerDiagnostic)
export(registerPlot)
export(fitWLS)
export(fitRobust)
export(autoTransform)
export(performBoxMTest)
export(HeteroDiagnostic)
export(test)
S3method(test, HeteroDiagnostic)
S3method(plot, HeteroDiagnostic)
S3method(summary, HeteroDiagnostic)
export(analyzeMLResiduals)
export(compareModelDiagnostics)
export(compareTestResults)
export(runMultivariateTests)

export(runTimeSeriesTests)
export(runPanelTests)
export(downloadTeachingData)
export(TestFactory)
export(test_factory)
export(suggestRemediation)
export(plotResidualsFittedEnhanced)
export(plotDiagnosticSuiteEnhanced)
export(runHeteroTestsParallel)
export(cachedTest)
export(clearTestCache)
export(generateDiagnosticReport)
export(simulate_type_I_errors)
export(simulate_power_analysis)
S3method(plot, power_analysis)
export(launchDiagnosticDashboard)
export(autoCompareRemediations)
export(checkModel)
export(validateTestInputs)
export(checkModelEnhanced)
export(std_error)
export(std_warning)
export(checkData)
